
/* Основа */

* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: table;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.content-wrapper {
	display: table-row;
	height: 100%;
}
.footer {
	height: 80px;
	background: #d8d8d8;
}

/* Дополнительное */

.header {
	background-color: #24292e;
	color: #fff;
	text-align: center;
	padding: 20px;
}
.menu-top ul {
	width: 100%;
	background-color: #3e464e;
	text-align: center;
	margin-top: 1px;
}
.menu-top ul li a {
	color: #fff;
}
.menu-top ul li {
	background-color: #3e464e;
	font-size: 1.2em;
	display: inline-block;
	padding: 5px;
	width: 100px;
	text-align: center;
	margin: 0px -3px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.menu-top ul li:hover{
	background-color: #88b8d8;
}

.menu-left {
	float: left;
	width: 300px;
}
.menu-left ul li {
	list-style: none;
	padding: 3px 5px 3px 40px;
	background-color: #333;
}

.main {
	/*height: 100%;*/
	/*max-width: 1024px;*/

	margin: auto;
	background: #ececec;
}
.content h2 {
	text-align: center;
}
.content__box {
	padding-left: 320px;
}
.content__box div {
	float: left;
	margin: 5px;
	width: 500px;
	height: 25px;
	background-color: #eeeeee;
	border: 1px solid #000;
	
}

