
/* --- Основа ----------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
	font-family: 'Cambria';
	background: url(../img/white.png);
	
}
.wrapper {
	display: table;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.content-wrapper {
	display: table-row;
	height: 100%;
}
.footer {
	height: 80px;
	background: #333;
	background: url(../img/black.png)
}

/* --- Дополнительное --------------------------------------------- */

/* --- Шапка сайта --- */
.header {
	background-color: #333;
	background: url(../img/black.png);
	text-align: center;
	padding: 20px;
	font-family: 'Nueva Std';
    /*text-shadow: 0em 0em 1.5em #0086f7;*/
	color: #ffffff;
}

/* -- Верхнее меню --- */
.menu-top ul {
	width: 100%;
	background-color: #5a81a7;
	text-align: center;
	margin-top: 1px;
}
.menu-top ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
.menu-top ul li {
	background-color: #5a81a7;
	font-size: 1.2em;
	display: inline-block;
	padding: 5px;
	width: 100px;
	text-align: center;
	margin: 0px -3px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;;
}
.menu-top ul li:hover{
	background-color: #88b8d8;
}

/* --- Боковое меню --- */
.menu-left {
	width: 300px;

	background-color: #e4e4e4;
	float: left;
	margin: 0px 20px 20px 0px;
	box-shadow: 0 0 20px rgba(200, 200, 200, 1);
    
}
.menu-left ul {
	margin: 10px;
}
.menu-left h2 {
	text-align: center;
	padding: 10px;
	color: #333;
}
.menu-left ul li {
	list-style: none;
	background-color: #ffffff;
	border-radius: 3px;
	margin: 5px;
	position: relative;
	box-shadow: 1px 1px 1px 1px #999;
	height: 30px;
	width: 270px;
	white-space: nowrap; 		/* Запрещаем перенос строк */
	overflow: hidden; 			/* Обрезаем все, что не помещается в область */
	text-overflow: ellipsis; 	/* Добавляем многоточие */

}
.menu-left ul li:hover {
	text-shadow: 0em 0em 0.3em #54b0ff;
	text-decoration: underline;;
	background-color: #c0e3ff;
	color: #0086f7;
	box-shadow: 1px 1px 1px 1px #6ea8ff;

}
.menu-left ul li:hover:before{
   content: '';
   border: 10px solid transparent;
   position: absolute;
   left: -20px;
   top: 50%;
   margin-top: -10px;
   border-right: 10px solid rgb(96, 167, 247);
}
.menu-left ul li:active{

	box-shadow: 0px 0px 0px 0px #6ea8ff;
}
.menu-left ul li a {
	text-decoration: none;
	color: #222;
	display: block;
	padding: 5px 15px 5px 20px;
	width: 235px;
	white-space: nowrap; 		/* Запрещаем перенос строк */
	overflow: hidden; 			/* Обрезаем все, что не помещается в область */
	text-overflow: ellipsis; 	/* Добавляем многоточие */

}
.menu-left ul li a:hover {
	color: #007cff;
}
.menu-left ul li a:active {
	color: #fff;
	padding-left: 23px;
}
/* --- Контент --- */
.main {
	/*display: table;*/
	/*margin: 20px 20px 20px 0px;*/
	width: 100%;
	/*display: table;*/
	/*margin: 20px 20px 20px 0px;*/
	min-width: 850px;;
	/*max-width: 1024px;*/
}
.content {

	box-shadow: 0 0 20px rgb(200, 200, 200);
	background-color: #e4e4e4;
	/*width: auto;*/
	margin: 20px 20px 20px 0px;

	display: table;

}
.content h2 {
	text-align: center;
	padding: 10px 0px 15px;
	color: #333;
}
.content__box {
	text-align: center;;
}
.content__box div {
	height: 340px;
	background-color: #fff;
	width: 500px;
	overflow: auto;
	text-overflow: ellipsis;
	display: inline-block;
	text-align: left;
	margin: 5px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px 1px #999;
	/* float: left; */
	/* text-align: center; */
	/*text-overflow: ellipsis;*/
}

