# Работа с текстом

/*Обрезание и многочие*/
width: 100px;				/* ! */
white-space: nowrap; 		/* Запрещаем перенос строк */
overflow: hidden; 			/* Обрезаем все, что не помещается в область */
text-overflow: ellipsis; 	/* Добавляем многоточие */