# Работа с текстом

word-wrap: break-word; /* Перенос слов */

/* Обрезание и многочие в строке -------------------------------------------------------------- */
.myline { 
	width: 100px;				/* ! */
	white-space: nowrap; 		/* Запрещаем перенос строк */
	overflow: hidden; 			/* Обрезаем все, что не помещается в область */
	text-overflow: ellipsis; 	/* Добавляем многоточие */
}

/* Многоточие в конце блока в конце 3 строки --------------------------------------------------- */
.myline {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}
//https://css-tricks.com/line-clampin/

/* Затирание конца строки вместо многоточия, можно применять к блокам -------------------------- */

/* --- .html
<h2>Fade Out Way</h2>
<div class="module fade">
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
  Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit 
  amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
</div> 
--- */

body {
  padding: 20px;
  font: 1.2em/1.2em 'Open Sans', sans-serif;
  background-color: #fff;
}
.module {
  width: 250px;
  margin: 0 0 1em 0;
  overflow: hidden;
  border: 1px dashed red;
}
.module p {
  margin: 0;
}
.fade {
  position: relative;
  height: 3.6em; /* exactly three lines */
}
.fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
/*https://css-tricks.com/line-clampin/*/