



$font-stack: sans-serif //Переменная со шрифтом и цветом
$primary-color: #333

//импорт файла _additional.sass
@import additional  


=text-shadow($shadow) //миксин
	-webkit-text-shadow: $shadow
	-moz-text-shadow: $shadow
	-ms-text-shadow: $shadow
	text-shadow: $shadow

body
	font: $font-stack
	margin: 0px


.main
	vertical-align: middle
	margin: auto
	padding: 0px
	text-align: center 
	width: 600px / 960px * 100%

	//вложенности 
	.main__header
		@extend .fixed //наследование
		color: $primary-color 
		font-size: 90pt
	.main__list 
		@extend .fixed //наследование
		font-style: italic
		padding: 0px
		font-size: xx-large
	li 
		list-style: none


