.back {
  width: 600px;
  height: 360px;
  background: #ccc;
}
.abs {
  position: absolute;
}
.block {
  top: 26px;
  left: 50px;
  right: 40px;
  bottom: 20px;
  display: none;
}

.threes {
  background: #ededed;
  top: 58px;
  width: 520px;
  height: 270px;
}

div:target {
  display: block;
}
div[id*=three]:target {
  display: block;
}
div[id*=three]:target ~ #three {
  display: block;
}
div[id*=t]:target ~ #one {
  display: none;
}