.slider {
	margin: 0px;
	padding: 0px;
	background-color: rgb(255, 255, 255);
	width: 652px;
	margin: auto;
	border: 1px solid #000;

}
.slider ul {
	width: 486px;
	height: 136px;

	padding: 0px;
	margin: 10px auto;
	overflow: hidden;

}
.slider ul li{ 
	display: block;
	float: left;
	padding: 0px;
	margin-left: 15px;
	margin-right: 15px;
	background-color: #fffaed;
	border: 1px solid #000; 
	list-style: none;
	border-radius: 3px;
}
.arrow_left {
	position: relative;
	display: block;
	float: left;
	margin-top: 60px;
	margin-left: 10px;
}
.arrow_right {
	position: relative;
	display: block;
	float: right;
	margin-top: 60px;
	margin-right: 10px;

}